@model DominoesWithCompadres.Models.DominoGame

@{
    Layout = "~/Views/Shared/_DominoGameLayout.cshtml";
}

<div id="resolutionTooSmall">
    Sorry, resolution is too small to play
</div>
<div id="gameContainer">
    

    <input type="hidden" id="gameCode" value="@Model.GameCode" />
    <input type="hidden" id="userType" value="@ViewBag.UserType" />
    <input type="hidden" id="displayName" value="@ViewBag.DisplayName" />

    <div class="gameInfoContainer">
        <div class="mobile_playabbleArea mobile_playLast" data-bind="foreach: mobile_lastPlayedTile">
            <div class="playTile tile"  data-bind="attr: {'data-tileId' : id}, css: $parent.getTilesDropClasses($data)">
                <div class="tileHalf" data-bind="attr:{'data-value' : value1}, css: $parent.getWordNumbersFromValue($data.value1)"></div>
                <div class="tileHalf" data-bind="attr:{'data-value' : value2}, css: $parent.getWordNumbersFromValue($data.value2)"></div>
            </div>
        </div>
        <div class="gameInfo">
            <div id="gameCodeShown">GameCode: <span data-bind="text: gameCode"></span></div>
            <div id="mobile_playerInTurn" class="showIfMobile">
                In turn: <span data-bind="text: playerInTurnDisplayName"></span> <span class="userPass">PASS!</span>
                <div id="mobile_miniTile"></div>
            </div>
            <div id="playerContainer" class="hideIfMobile">
                <table>
                    <tr>
                        <td>
                            <table data-bind="foreach: players" class="playerList left">
                                <tr class="player" data-bind="if: $index() % 2 ==0, css:{openSeat: DisplayName == 'open seat' }">
                                    <td>
                                        <div class="pointsContainer">
                                            <span data-bind="text: points"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span data-bind="text: DisplayName, css: { active: $index() == $parent.playerInTurn() }"></span>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <table data-bind="foreach: players" class="playerList right">
                                <tr class="player" data-bind="if: $index() % 2 ==1, css:{openSeat: DisplayName == 'open seat' }">
                                    <td>
                                        <div class="pointsContainer">
                                            <span data-bind="text: points"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span data-bind="text: DisplayName, css: { active: $index() == $parent.playerInTurn() }"></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="mobile_playabbleArea mobile_playFirst" data-bind="foreach: mobile_firstPlayedTile">
            <div class="playTile tile" data-bind="attr: {'data-tileId' : id}, css: $parent.getTilesDropClasses($data)">
                <div class="tileHalf" data-bind="attr:{'data-value' : value1}, css: $parent.getWordNumbersFromValue($data.value1)"></div>
                <div class="tileHalf" data-bind="attr:{'data-value' : value2}, css: $parent.getWordNumbersFromValue($data.value2)"></div>
            </div>
        </div>
    </div>

    <div id="boardContainer">
        <div class="state selectTileContainer">
            <div id="selectTiles" data-bind="foreach: availableTiles">
                <div class="tile" data-bind="attr: {'data-tileId' : id}">
                    @{
                        if(DominoesWithCompadres.Utils.SiteSettings.DebugDominoes)
                        {
                            <div class="tileHalf" data-bind="attr:{'data-value' : value1}, css: $parent.getWordNumbersFromValue($data.value1)"></div>
                            <div class="tileHalf" data-bind="attr:{'data-value' : value2}, css: $parent.getWordNumbersFromValue($data.value2)"></div>
                        }
                    }                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="state gameInProgress">

            

            <div class="myTileAndMoveArea">
                <div class="myTileContainer" data-bind="foreach: myRoundTiles">
                    <div class="playTile tile" data-bind="attr: {'data-tileId' : id}, click: $parent.selectMyTile, css: $parent.getTilesDropClasses($data)">
                        <div class="tileHalf" data-bind="attr:{'data-value' : value1}, css: $parent.getWordNumbersFromValue($data.value1)"></div>
                        <div class="tileHalf" data-bind="attr:{'data-value' : value2}, css: $parent.getWordNumbersFromValue($data.value2)"></div>
                    </div>
                </div>
                <div id="noPlaysWithTiles">
                    <div id="takeTileContainer" class="takeDisabled">
                        Robar
                    </div>
                    <div id="passTurnContainer">
                        <input type="button" value="pass" class="btnPassTurn" />
                    </div>
                    
                </div>
                
            </div>
            
            

            <div class="roundTileBoard" data-bind="foreach: playedTiles">
                <div class="playTile tile" data-bind="attr: {'data-tileId' : id}, css: $parent.getTilesDropClasses($data)">
                    <div class="tileHalf" data-bind="attr:{'data-value' : value1}, css: $parent.getWordNumbersFromValue($data.value1)"></div>
                    <div class="tileHalf" data-bind="attr:{'data-value' : value2}, css: $parent.getWordNumbersFromValue($data.value2)"></div>
                </div>
            </div>
        </div>

        <div class="state selectReadyContainer">
            <div class="overlay">
                <div class="overlayContent">
                    <div data-bind="text: message"></div>
                    <input id="btnRoundReady" type="button" value="Ready" />
                    <div class="readyInfoHidden">Waiting on other users... Please wait...</div>

                    <div class="mobile_playerList">
                        <!-- Players table for mobile -->
                        <table data-bind="foreach: players" class="playerList showIfMobile">
                            <tr class="player" data-bind="css:{openSeat: DisplayName == 'open seat'}">
                                <td>
                                    <div class="pointsContainer">
                                        <span data-bind="text: points"></span>
                                    </div>
                                </td>
                                <td>
                                    <span data-bind="text: DisplayName"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/game.js"></script>
}