@model DominoesWithCompadres.Models.ViewModel.GameStart

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dominoes with Compadres</h1>
    <p class="lead">Para jugar solamente necesitas tu celular y una tablet para usar como centro de juego.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start a Game</h2>
        @using (Html.BeginForm("Start", "Game", FormMethod.Post))
        {
            <input type="hidden" name="userAction" value="newGame" />
            <input type="text" name="userDisplayName" />
            
            foreach(string value in Enum.GetNames(typeof(DominoesWithCompadres.Models.ViewModel.UserType))){
                @Html.Label(value)
                @Html.RadioButtonFor(model => model.UserType, value)
            }
            
            
            <input type="submit" value="Create" />
            
        }
        
    </div>
    <div class="col-md-4">
        <h2>Join Existing Game</h2>
        @using (Html.BeginForm("Start", "Game", FormMethod.Post))
        {
            <input type="hidden" name="userAction" value="existingGame" />
            <span>GameCode</span> <input type="text" name="gameCode" />
                <br/>
            <span>DisplayName</span> <input type="text" name="userDisplayName" />
            <input type="submit" value="Create" />
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>