@model DominoesWithCompadres.Models.ViewModel.JoinOrCreateGameModel

@{
    ViewBag.Title = "Home Page";
    
    /*** TODO: the radiobutton helper creates items with the same id. this should be fixed... ***/
}

<div class="jumbotron hideIfMobile">
    <h1>Dominoes with Compadres</h1>
    <p class="lead">Para jugar solamente necesitas tu celular y una tablet para usar como centro de juego.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start a Game</h2>
        
        @if(Model == null || Model.createGame == null)
        {
            @Html.Partial("../Home/CreateGame", new DominoesWithCompadres.Models.ViewModel.CreateGame())
        }
        else
        {
            @Html.Partial("../Home/CreateGame", Model.createGame)
        }
        
    </div>
    <div class="col-md-4">
        <h2>Join Existing Game</h2>
        @if (Model == null || Model.joinGame == null)
        {
            @Html.Partial("../Home/JoinGame", new DominoesWithCompadres.Models.ViewModel.JoinGame())
        }
        else
        {
            @Html.Partial("../Home/JoinGame", Model.joinGame)
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>