body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/**** Game ****/

#gameCodeShown, #mobile_playerInTurn
{
    text-align:center;
}

    #mobile_playerInTurn > .userPass{
        opacity:0;
        background-color: blue;
        border-radius: 5px;
        padding:3px;
        color:white;
        font-weight:bold;
    }

.gameInfoContainer {
    margin: 10px 0px;
}



#playerContainer
{
    width:400px;
    margin:auto;
}

    #playerContainer > table{
        width:100%;
    }



.player{

}

.player.openSeat{
    font-style:italic;
    color:#AAA;
}

.active
{
    font-weight:bold;
    color:red;
}

.inTurn
{
    font-weight:bold;
    color:#4cff00;
}

.player .pointsContainer{
    border: 2px solid blue;
    background: aliceblue;
    padding: 3px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    color:black;
}



/** intial setup **/
#boardContainer{
    position:relative;
    height:600px;
    clear:both;
    width:100%;
    background: url('/Content/img/wood_for_desktop.jpg') no-repeat;
    background-size: 100%;
}

.state{
    display:none;
}

.selectReadyContainer
{
    visibility:visible;
    display:block;
    height:600px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.selectReadyContainer > .overlay
{
    background-color: rgba(3, 3, 3, 0.81);
    width:100%;
    height: 100%;
}

.selectReadyContainer > .overlay > .overlayContent
{
    background-color: #40bb3e;
    height:200px;
    vertical-align: middle;
    text-align: center;
}

.readyButtonDisabled{
    color:gray;
    cursor: default;
}

/*** Users getting ready for round ***/
.readyInfoHidden {
    visibility:hidden;
}

.readyInfoShown{
    visibility:visible;
}


/**** Users selecting tiles ****/

.takeDisabled, .passDisabled{
    color:#808080;
    cursor: default;
}

.takeEnabled, .passEnabled{
    color:red;
    font-weight:bold;
    cursor:pointer;
    visibility: visible;
}



.selectTileContainer{
    width:80%;
    margin:auto;
}

#selectTiles > .tile, .myTileContainer > .tile {
    float:left;
    margin-right:20px;
    margin-bottom:20px;
}

.tile
{
    width:42px;
    height:84px;
    margin:0px;
    padding:0px;
    background-color:white;
    border:1px solid black;
    border-radius:5px;
    /*TODO-later: blg about this 
        http://stackoverflow.com/questions/3705937/document-click-not-working-correctly-on-iphone-jquery
        */
    cursor: pointer;

    box-shadow:
        inset 0px -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
        inset 0px 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    -moz-box-shadow:
        inset 0px -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
        inset 0px 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
    -webkit-box-shadow:
        inset 0px -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
        inset 0px 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/

}

.one{
    background: url("img/tile_1.png") no-repeat;
}

.two{
    background-image: url("img/tile_2.png");
}

.three{
    background-image: url("img/tile_3.png");
}

.four{
    background-image: url("img/tile_4.png");
}

.five{
    background-image: url("img/tile_5.png");
}

.six{
    background-image: url("img/tile_6.png");
}

.horizontal{
    width:84px;
    height:42px;
}

.horizontal > .tileHalf
{
    float:right;
}

.horizontal > .tileHalf:first-child{
    border-bottom: none;
    border-left:1px solid black;
}

.tileHalf
{
    width:40px;
    height:40px;
    background-size:35px 35px;
    background-position:center;
    overflow:hidden;
    background-repeat: no-repeat;
    
}

.tileHalf:first-child{
    border-right: none;
    border-bottom: 1px solid black;
}

#selectTiles > .selected{
    border-color: #4cff00;
}

#selectTiles > .otherSelected{
    background-color:#808080;
    border-color:#808080;
}

.droppableTileZone
{
    border-style:dashed;
    visibility: hidden;
}

/******* Game In Progress CSS ******/
/*http://stackoverflow.com/questions/2971401/how-to-anchor-a-div-to-the-bottom-of-a-page*/
.gameInProgress{
    height:600px;
    position:relative;
}

.roundTileBoard{
    width: 100%;
    height: 500px;
    /*border: 1px solid pink;*/
}

.roundTileBoard > .droppableTileZone{
    right: 0;
    bottom: 0;
    background-color: #bcd5e6;
    text-align: center;
}

.roundTileBoard > .tile{
    position:absolute;
    display:block;
    cursor: default;
}

#myTileAndMoveArea{
    display:table;
}

.myTileContainer{
   height:100px;
   width:100%;
   background:#b94a48;
}

    .myTileContainer > .selected{
        border: 2px solid red;
    }

#noPlaysWithTiles{
    float:left;
}

/*** Hide really small resolution ***/
#resolutionTooSmall{
    display:none;
}


/***** ALL THE DEBUGGING STUFF GOES HERE ******/
#toggleDebugConsoleContainer{
    float:left;
}

#debugConsole
{
    margin-top:90px;
    display:none;
    background-color:black;
    color: white;
    line-height: 1.1em;
    padding:10px;
    overflow: scroll;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index: 99999999;
}


.debug_playedTiles_table, .debug_playedTiles_table td
{
    border:1px solid white;
}

.debug_playedTiles_table td{
    padding:5px;
}




/******** ALL THE STUFF FOR MOBILE STARTS HERE ***********/


/*** Hide mobile stuff ***/
.showIfMobile{
    display:none;
}

.mobile_playabbleArea
{
    display:none;
}

.playerList.left
{
    float:left;
}

.playerList.right{
    float:right;
}

@media (max-width: 478px){
    #resolutionTooSmall{
        display:block;
    }

    #gameContainer{
        display:none;
    }
}


/***** Mobile CSS *******/
@media (min-width: 479px) and (max-width: 767px) {
    .hideIfMobile
    {
        display:none;
    }

    .showIfMobile{
        display:block;
    }
    
    .roundTileBoard{
        display:none;
        clear:both;
    }


    /* Layout for mobile divs select */
    .selectReadyContainer, .selectReadyContainer > .overlay
    {
        width:100%;
        height:100%;
        color:white;
    }

        .selectReadyContainer > .overlay > .overlayContent 
        {
            height:100%;
            background-color:#191919;
        }

    .mobile_playerList{
        width:350px;
        margin:auto;
    }

    /* Layout for mobile divs in game*/

    .gameInfoContainer
    {
        width: 100%;
        height:35%;
        padding-top:10px;
    }

    #boardContainer{
        width:100%;
        height:65%;
    }

        .mobile_playabbleArea
        {
            height:80%;
            display:block;
            width:30%;
            overflow:hidden;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }

        .mobile_playLast
        {
            float:left;
            border:1px solid black;        
        }

        .mobile_playFirst
        {
            float:right;
            border:1px solid black;        
        }

        .gameInfo{
            float:left;
            width:40%;
            padding:0px 10px;
        }

        #mobile_miniTile{
            width: 20px;
            height: 40px;
            background-color:white;
            border: 1px solid black;
            position: absolute;
            visibility:hidden;
        }
        
    .myTileAndMoveArea
    {
        width:100%;
        height:50%;
    }

        .myTileAndMoveArea > .myTileContainer {
            height:80px;
        }

    footer{
        clear:both;
        display:none;
    }

    .mobile_playabbleArea > .tile
    {
        width:60px;
        height:30px;
    }

        .mobile_playabbleArea > .tile > div
        {
            float:right;
            width:50%;
            height:100%;
        }

            .mobile_playabbleArea > .tile > .tileHalf:first-child {
                border-left:1px solid black;
                border-bottom: none; 
            }

    body{
        /*
        TODO-later: blog about setting body: height:100% to make this work
    http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window
        */
    
        height:100%;
        padding-bottom:0px;
    }     
    html, #gameContainer, .gameInProgress, #selectTiles, .selectTileContainer{
        height:100%;
    }

    /*This is 85 because the navbar is there and the body has padding-top:50px*/
    .body-content
    {
        height: 88%;
    }

    .myTileContainer
    {
        background:none;
        padding:5px;
    }


    /** different tiles need different sizes */
    .myTileContainer > .tile
    {
        width:20%;
        height:40%;
        margin-right:10px;
        margin-bottom:15px;
    }

    #selectTiles > .tile, .myTileContainer > .tile 
    {
        width:30px;
        height:60px;
        margin-bottom:15px;
        margin-right:15px;
    }

    .tile{
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
    }

    .tileHalf{
        height:50%;
        background-size:90%;
        width:100%;
    }


    #debugConsole
    {
        margin-top:50px;
    }
}
